/*STYLING FOR ALL PAGES */
.h1 {font-family: 'Oswald', sans-serif;
    font-size:28px;
}

.nav, .aboutme_p {font-family: 'Lato', sans-serif;
}

.h2, .form-label {color:#7a2d2d;
    font-family: 'Lato', sans-serif;
}

.container, .row {background-color: rgb(224, 166, 166);
}

.footer {background-color:#333333;
    color:white;
    font-family: 'Lato', sans-serif;
}



/*STYLING FOR ABOUT ME PAGE */

/*Bootstrap styling was too limited for the layout & design I desired */
.allimages {height: 200px;
	width: 200px;
    border: 4px solid white;
}

/* Hover Pseudo Class: Mouse hover*/
a:hover {color:#333333;
  }
  
/* Focus Pseudo Class: Mouse click*/
  a:focus {color:blue
  }
  
/* Active Pseudo Class: Mouse active click*/
  a:active {color:brown;
  }



/*STYLING FOR PORTFOLIO PAGE */

.img, .img-thumbnail {width:200px; 
    height:200px;
    border: 4px solid white;
}

.h3 {color:#7a2d2d;
    font-family: 'Lato', sans-serif;
}



/*STYLING FOR CONTACT PAGE */
.form-text {font-size:12px;
    font-style: italic;
}

